include views/mixins/mixins

block vars
  - var lang                  = 'zh-Hant-TW'
  - var pageTitle             = 'pageTitle'
  - var pageDescription       = 'Description'
  - var bodyClass             = ''


block favicons



doctype html

html(lang=lang class="no-js " + lang)

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{ pageTitle }
    meta(name="description", content=pageDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui")


    link(rel="icon", type="image/x-icon", href="assets/images/favicons/favicon.ico")


    block headerStyles
      != '\n    <!-- build:css -->'
      link(rel="stylesheet", href="assets/styles/style.css")
      != '\n    <!-- endbuild -->'

    //- block headerScripts
    //-   != '\n    <!-- inject:head:js -->'
    //-   != '\n    <!-- endinject -->'

  body
    block contentMain



    != '\n'

    block footerScripts
      //- != '\n\n    <!-- inject:head:js -->'
      //- != '\n\n    <!-- endinject -->'
      != '\n\n    <!-- build:js -->'
      script(src="assets/js/script.js")
      != '\n    <!-- endbuild -->\n'
      //- script(src="assets/js/script.js")
