.content
  .block-1.login-panel
    h2.content-title
      | 會員登入 / 加入會員
    .wall
      form.login-form
        .units-row
          label.unit-20
            span 帳號
          input(type='search', class='unit-80')
        .units-row
          label.unit-20
            span 密碼
          input(type='password', class='unit-80')
        .units-row
          button.btn.primary(class='unit-80 unit-push-20') 登入
      .units-row.mt-40
        .unit-30.unit-push-40
          nav.nav-add-and-remove
            ul
              li: a(href='javascript:;') 加入會員
              li: a(href='javascript:;') 忘記密碼
