.content
  .block-2
    h2.content-title 會員版申請紀錄
  .block-2
    .tabBlock.style-big
      ul.tabBlock-tabs
        li.tabBlock-tab.is-active 申請記錄
        li.tabBlock-tab 資料下載
        li.tabBlock-tab 下載記錄
      .tabBlock-content
        .tabBlock-pane
          p.mb-20 以下是您在 SRDA 網站中申請的資料，可由申請狀態中查看申請進度，審核通過者，即可點連結進行資料下載。
          h5.font-color-primary.font-bold.mb-20 會員版申請狀態
          table.table
            thead
              tr
                th 申請編號
                th 申請日期
                th 研究大綱
                th 狀態
            tbody
              tr
                td 2015-xxxxx
                td 2015-07-28
                td 研究目的台灣的育嬰假2002
                td 審核中
        .tabBlock-pane
        .tabBlock-pane



