.content
  .block-1.questionnaire-search-panel
    h2.content-title
      | 找問卷
      nav.content-secondary-menu
        ul
          li: a(href='javascript:;') 找資料
          li: a(href='javascript:;') 找問卷
          li: a(href='javascript:;') 找著作
          li: a(href='javascript:;') 找站內
    .wall
      p.mb-10
        span.color-primary 問卷查詢功能
        | 可查詢與瀏覽調查問卷中的提項(變項)資料
      .units-row
        .unit-80
          input.unit-100(type='search')
        .unit-20
          button.unit-50.btn.primary 查詢
          button.unit-50.btn 查詢
