.content
  .block-1.search-result-panel
    h2.content-title.mb-40
      | 找資料 - 查詢結果
      nav.content-secondary-menu
        ul
          li: a(href='javascript:;') 找資料
          li: a(href='javascript:;') 找問卷
          li: a(href='javascript:;') 找著作
          li: a(href='javascript:;') 找站內
    .wall
      .row
        .search-keyword
          b 查尋詞:
          a(href='javascript:;') "檳榔"
      .units-row
        .unit-25
          | 查詢結果範圍內查詢:
        .unit-33
          input.unit-100(type='search')
        .unit-20
          select.unit-100
            option 不限欄位
            option option-2
            option option-3
        .unit-20
          button(class='btn unit-100') 查詢
  .block-space-line-1
    include page-utility
  -for (var i = 1; i < 10; i++)
    .block-space-line-1
      .search-resulr--info
        include search-resulr--info
        include search-resulr--info__utility-nav
  .row
    .left
      p
        | 顯示&nbsp;
        span 1-10
        | &nbsp;筆
        | ,&nbsp;共&nbsp;
        span XXXX
        | &nbsp;筆
    .right
      ul.pagination
        li.icon-first: a(href="#") &larr;
        li.icon-previous: a(href="#") &larr;
        li: span 1
        li: a(href="#") 2
        li: a(href="#") 3
        li: a(href="#") 4
        li: a(href="#") 5
        li.icon-next: a(href="#") &rarr;
        li.icon-last: a(href="#") &rarr;
