.content
  .block-1.adv-search-panel
    h2.content-title.mb-40
      | 找資料 - 進階查詢
      nav.content-secondary-menu
        ul
          li: a(href='javascript:;') 找資料
          li: a(href='javascript:;') 找問卷
          li: a(href='javascript:;') 找著作
          li: a(href='javascript:;') 找站內
    .wall
      .units-row
        .unit-80
          input.unit-100(type='search')
        .unit-20
          select.unit-100
            option 不限欄位
            option option-2
            option option-3
      .units-row
        .unit-20
          select.unit-100
            option and
            option or
            option not
        .unit-60
          input.unit-100(type='search')
        .unit-20
          select.unit-100
            option 不限欄位
            option option-2
            option option-3
      .units-row
        .unit-20
          select.unit-100
            option and
            option or
            option not
        .unit-60
          input.unit-100(type='search')
        .unit-20
          select.unit-100
            option 不限欄位
            option option-2
            option option-3
      .units-row
        .unit-40.unit-push-30
          nav.nav-add-and-remove
            ul
              li: a(href='javascript:;') 新增查詢欄位
              li: a(href='javascript:;') 移除查詢欄位
        button.unit-20.unit-push-right.btn.primary 查詢
      .row
        dl.table-list
          dt 查詢模式:
          dd
            ul.forms-inline-list
              li
                input(type="radio" name="radio-1" id="radio-1")
                label(for="radio-1") 模糊
              li
                input(type="radio" name="radio-2" id="radio-2")
                label(for="radio-2") 精確
        dl.hot-keyword
          dt 熱門關鍵詞:
          dd.navbar
            ul
              li: a(href='javascript:;') 老人
              li: a(href='javascript:;') 義工
              li: a(href='javascript:;') 社會網路
              li: a(href='javascript:;') 補習班
              li: a(href='javascript:;') 人文
