.content
  .block-1
    h2.content-title 103年人力調查
    .row
      nav.content-secondary-menu
        ul
          li: a(href='javascript:;') 推薦
          li: a(href='javascript:;') 線上分析
          li: a(href='javascript:;') 加入追蹤
    .table-list
      dl
        dt 登錄號:
        dd AAABBB123456
        dt 英文計畫名稱:
        dd ABC def GHI jkl 1234
        dt 計畫主持人 / 服務單位:
        dd ABC def GHI jkl 1234
        dt 叢集名稱:
        dd: a(href='javascipt:;') 啞文字 123
        dt 學門別:
        dd: a(href='javascipt:;') 啞文字 123
        dt DOI:
        dd: a(href='javascipt:;') 啞文字 123
  .block-1
    h3.content-sub-title 摘要
    p
      -for (var i = 0; i < 100; i++)
        | 啞文字,
      a(href='javascipt:;') (more...)
  .block-1
    h3.content-sub-title 資料版本用途
    .table-list
      dl
        dt 登錄號:
        dd AAABBB123456
        dt 英文計畫名稱:
        dd ABC def GHI jkl 1234
        dt 計畫主持人 / 服務單位:
        dd ABC def GHI jkl 1234
        dt 叢集名稱:
        dd: a(href='javascipt:;') 啞文字 123
        dt 學門別:
        dd: a(href='javascipt:;') 啞文字 123
        dt DOI:
        dd: a(href='javascipt:;') 啞文字 123
