.content
  .block-2
    h2.content-title 臺灣社會變遷基本調查
  .block-space-line-2
    h3.font-color-primary.font-bold 叢集摘要
    p lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字, lorem 假字,lorem 假字, lorem 假字, lorem 假字, lorem 假字,
  .block-space-line-1
    include page-utility
  .block-3
    .search-resulr--info
        include search-resulr--info-hide
        .mt-20
        .tabBlock
          ul.tabBlock-tabs
            li.tabBlock-tab.is-active 計畫詳目
            li.tabBlock-tab 計畫詳目
            li.tabBlock-tab 文件瀏覽下載
          .tabBlock-content
            .tabBlock-pane
              ul
                li 基本資訊
                li 摘要關鍵字
                li 資料版本用途
                li 研究對象與範圍
                li 參考文獻格式
            .tabBlock-pane
              p tab2
            .tabBlock-pane
              p tab3

        .mt-20
        include search-resulr--info__utility-nav
