.content
  .block-2
    h2.content-title 社會學
  .block-2

    .units-row
      .unit-33
        ul.list-group-vertical
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
      .unit-33
        ul.list-group-vertical
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
      .unit-33
        ul.list-group-vertical
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)
          li: a(href='javascript:;') 社會學(#n)

  .block-2
    .tabBlock.style-big
      ul.tabBlock-tabs
        li.tabBlock-tab 叢集計畫 (0)
        li.tabBlock-tab.is-active 個別形計畫
      .tabBlock-content
        .tabBlock-pane
          // list

        .tabBlock-pane
          // list
          .block-space-line-1
            include page-utility
          -for (var i = 1; i < 9; i++)
            .block-space-line-1
              .search-resulr--info
                include search-resulr--info
                include search-resulr--info__utility-nav


