nav.side-nav
  img(src='http://placehold.it/380x732')
  ul.side-nav-right
    li
      a(src='javascript:;')
        span MySRDA
    li
      a(src='javascript:;')
        span 捐贈資料
    li
      a(src='javascript:;')
        span 關於我們
    li
      a(src='javascript:;')
        span 出版品
    li
      a(src='javascript:;')
        span SRDA nesstar
    li
      a(src='javascript:;')
        span 學習資源 US UK
    li
      a(src='javascript:;')
        span 資料管理 US UK
