// 007
nav.side-nav
  ul.side-nav-primary
    li.level-space
      a(src='javascript:;')
        span.fulljustify 調查主題
      // secondary
      ul(class="forms-list side-nav-secondary check-list")
        -for (var i = 1; i < 6; i++)
          li
            input(type="checkbox" name="checkbox-1" id="checkbox-1")
            label(for="checkbox-1") Check #{i}
        nav(class='utlility-link')
          ul
            li
              a(href='javascript:;') 顯示更多...
            li
              a(href='javascript:;') 重新篩選

    li.level-space
      a(src='javascript:;')
        span.fulljustify 調查年度
      // secondary
      ul(class="forms-list side-nav-secondary check-list")
        -for (var i = 1; i < 6; i++)
          li
            input(type="checkbox" name="checkbox-1" id="checkbox-1")
            label(for="checkbox-1") Check #{i}
        nav(class='utlility-link')
          ul
            li
              a(href='javascript:;') 顯示更多...
            li
              a(href='javascript:;') 重新篩選
    li
      a(src='javascript:;')
        span.fulljustify 著作書目
    li
      a(src='javascript:;')
        span.fulljustify 新手上路
    li
      a(src='javascript:;')
        span.fulljustify 常見問題
    li
      a(src='javascript:;')
        span.fulljustify 相關資源
