nav.side-nav
  ul.side-nav-primary
    li
      a(src='javascript:;')
        span.fulljustify 修改基本資料
    li
      a(src='javascript:;')
        span.fulljustify 追蹤清單
    li
      a(src='javascript:;')
        span.fulljustify 資料下載記錄
    li
      a(src='javascript:;')
        span.fulljustify 會原版申請記錄
    li
      a(src='javascript:;')
        span.fulljustify 會員資格延長
    li
      a(src='javascript:;')
        span.fulljustify 會員資格延長
    li
      a(src='javascript:;')
        span.fulljustify 會員約定條款
    li
      a(src='javascript:;')
        span.fulljustify(style='letter-spacing: -.2em;') 隱私權及資訊安全宣告
