nav.side-nav
  ul
    li
      a(src='javascript:;')
        span.fulljustify 首頁
    li
      a(src='javascript:;')
        span.fulljustify 摘 要
    li
      a(src='javascript:;')
        span.fulljustify 資 料 版 本 用 途
    li
      a(src='javascript:;')
        span.fulljustify 文件瀏覽下載
    li
      a(src='javascript:;')
        span.fulljustify 研究對象與範圍
    li
      a(src='javascript:;')
        span.fulljustify 參考文獻格式
    li
      a(src='javascript:;')
        span.fulljustify 著作書目
