//- 006
nav.side-nav
  ul.side-nav-primary
    li
      a(src='javascript:;')
        span.fulljustify 依學門分類瀏覽
    li
      a(src='javascript:;')
        span.fulljustify 依資料類型瀏覽
      ul.side-nav-secondary
        li.level-space
          a(href='javascript::') 社會科學領域
          ul.side-nav-tertiary
            li
              a(href='javascript:;') 社會學
            li
              a(href='javascript:;') 教育學
            li
              a(href='javascript:;') 心理學
            li
              a(href='javascript:;') 法律學
            li
              a(href='javascript:;') 政治學
            li
              a(href='javascript:;') 經濟學
            li
              a(href='javascript:;') 傳播學
        li.level-space: a(href='javascript::') 管理領域
        li.level-space: a(href='javascript::') 人文學領域
        li.level-space: a(href='javascript::') 生物學領域
