//- 006
nav.side-nav
  ul.side-nav-primary
    li
      a(src='javascript:;')
        span.fulljustify 依資料類型瀏覽
      ul.side-nav-secondary
        li.level-space: a(href='javascript::') 長期主題瀏覽
        li.level-space: a(href='javascript::') 長期追蹤調查
        li.level-space: a(href='javascript::') 政府調查
        li.level-space: a(href='javascript::') 個別調查
    li
      a(src='javascript:;')
        span.fulljustify 一學門分類瀏覽
